/************************************************* Between 800px and 1100px *************************************************/
@media only screen and (min-width: 800px)  and (max-width: 1100px){
  .movie-dashboard {
    margin: 30px 50px 0px 50px;
  }
}

/************************************************* Between 1100px and 1350px *************************************************/
@media only screen and (min-width: 1100px)  and (max-width: 1350px){
  .movie-dashboard {
    margin: 30px 100px 0px 100px;
  }
}

/************************************************* From 1350px *************************************************/
@media only screen and (min-width: 1350px){
  .movie-dashboard {
    margin: 30px 150px 0px 150px;
  }
}


.movie-page {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  margin-bottom: 30px;
}

.not-found {
  margin-top: 100px;
  text-align: center;
  color: rgb(194, 194, 194);
}